body {
  background-color: #f0f0f2;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  justify-content: center;
  display: flex;
}

.wristWatch {
  position: absolute;
  width: 100px;
  height: 180px;
  object-fit: contain;
  top: 30%;
}

.wheelCenter {
  width: 80px;
  height: 80px;
  z-index: 3;
  position: absolute;
  top: 40%;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  position: absolute;
  top: 15%;
}

.price {
  background-color: #fff;
  color: #000;
  font-weight: 800;
  padding: 6px 10px;
  position: absolute;
  bottom: 15%;
}

.deal {
  background: #3d9d43;
  font-size: 14px;
  color: #fff;
  padding: 12px 16px;
  display: flex;
  gap: 5px;
  width: fit-content;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.rolling-text {
  background: #3d9d43;
  font-size: 14px;
  color: #fff;
  padding: 12px 16px;
  display: flex;
  gap: 5px;
  width: fit-content;
  font-weight: 500;
  display: flex;
  align-items: center;
  opacity: 60%;
}

.deal-section {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.refresh {
  background: #3d789d;
  color: #fff;
  padding: 10px 16px;
  cursor: pointer;
}

.spin-checkbox {
  background: #f0f0f2;
  height: 12px;
  width: 12px;
  margin: auto;
  margin-bottom: 5px;
}

.spin {
  background: white;
  padding: 5px 16px;
  color: #8e8e99;
  font-size: 12px;
  text-align: center;
  font-weight: 800;
}

.box {
  background: #f6f6f8;
  padding: 0.2rem 1rem 1rem 1rem;
  margin-top: 1.5rem;
}

.box .title {
  font-weight: 900px;
  font-size: 13px;
  color: #000;
  position: relative;
  text-align: left;
  margin-bottom: 8px;
}

.box input {
  border: none;
  padding: 0.5rem;
}

.chance-btns {
  display: flex;
  align-items: center;
  gap: 4px;
}

.chance-btns div {
  background: #000;
  color: white;
  padding: 8px 10px;
  font-size: 13px;
  cursor: pointer;
}

.chance-btns div:hover {
  opacity: 80%;
}

.chance-box {
  display: flex;
  background: white;
  padding: 5px 8px;
  margin-bottom: 1.5rem;
}

.price-input {
  width: 95%;
}

.range {
  width: 95%;
  margin-top: 1rem;
  accent-color: #3c9d43;
}

.price-footer {
  display: flex;
  justify-content: space-between;
  color: #7b7b7c;
  font-weight: 900;
  font-size: 13px;
  margin-top: -15px;
}
